<article>
<div class="schedule">
  <h1 class="name">
    <span>
      {{'schedule.title' | translate}}
    </span>
  </h1>
<p>
V prvním týdnu tvého prvního semestru tě čeká <b>přípravný týden Naskoč na FI</b> – série workshopů, přednášek a dalších aktivit, které ti pomohou zorientovat se na fakultě, poznat spolužáky a usnadní ti začátek studia.
</p>
<p>
Na této stránce začátkem září zveřejníme podrobný program přípravného týdne i všechny důležité informace. Proto ji průběžně sleduj. Podrobnosti ti zároveň pošleme e-mailem a najdeš je také na fakultních sociálních sítích.
</p>
<p>
Těšit se můžeš na praktické tipy ke studiu na FI i celé MUNI, seznámení s fakultou, workshopy, příležitosti poznat své budoucí spolužáky a spolužačky i další akce, které ti pomohou začít studium co nejlépe.
</p>
<p>
A rozhodně si nenech ujít ani <b>Semester Opening Party</b>, která se uskuteční ve středu <b>16. září</b>. Odstartuj svůj první akademický rok společně s novými spolužáky a spolužačkami.
</p>
<p>
Těšíme se na tebe!
</p>

<!--
<h1 id="mapa"><span>Mapa budov</span></h1>
<p>
Naše fakulta využívá několik budov rozmístěných v různých částech města.  
Na mapě níže najdete jejich umístění, možnosti dopravy MHD i pěší dostupnost.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoč na FI mapa.png" alt="Map of buildings" class="map-image">
</div>

<h1 id="harmonogram"><span>Harmonogram</span></h1>

<p>
Harmonogram bude zveřejněn s blížícím se příchodem akce. Tedy někdy na přelomu srpna a září.
</p>
<p>
Interaktivní harmonogram je k dispozici jako PDF <a href="https://fi.muni.cz/files/fi-graphics/naskoc-na-fi-2025-program.pdf"><b>zde na webu fakulty</b></a>. Kliknutím na časový slot se dostaneš přímo na zapisování daného workshopu v ISu – toto zapisování seminárních skupin běží od 3. 9. 17:00. Kliknutím na místnost workshopu se ti otevře detail místnosti s mapou v ISu.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoc program 1.png" alt="Schedule part 1" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 2.png" alt="Schedule part 2" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 3.png" alt="Schedule part 3" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 4.png" alt="Schedule part 4" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 5.png" alt="Schedule part 5" class="schedule-image">
</div>  
-->
</div>
</article>
