<article>
<div class="schedule">
  <h1 class="name">
    <span>
      {{'schedule.title' | translate}}
    </span>
  </h1>
<p>
Od 14. září do 18. září 2026 proběhne fyzicky na Fakultě informatiky Masarykovy univerzity <b>přípravný týden Naskoč na FI</b> – série workshopů a aktivit, které pomohou novým studentům FI lépe se začlenit a neztratit se ani na fakultě, ani ve studijních povinnostech. Níže najdeš přehledný harmonogram akce a mapu budov, ve kterých se konají v 1. týdnu semestru vybrané přednášky běžných předmětů.
</p>
<p>
Jak to bude celé fungovat? Na každý typ workshopu jsme v ISu nachystali vlastní předmět, ty se všem studujícím 1. ročníku automaticky zapsali na konci srpna. Od 2. září v 17:00 se pak v ISu otevře přihlašování na konkrétní termíny workshopů pomocí seminárních skupin – tehdy si zapisuješ i semináře běžných předmětů. <b>Kapacity místností na workshopy jsou omezené</b>, tak na zápis seminárních skupin nezapomeň.
</p>
<p>
Těšit se můžeš na praktické tipy ke studiu na FI i celé MUNI, seznámení s fakultou, workshopy, příležitosti poznat své budoucí spolužáky a spolužačky i další akce, které ti pomohou začít studium co nejlépe.
</p>
<p>
A rozhodně si nenech ujít ani <b>Semester Opening Party</b>, která se uskuteční ve středu <b>16. září</b>. Odstartuj svůj první akademický rok společně s novými spolužáky a spolužačkami.
</p>
<p>
Těšíme se na tebe!
</p>


<h1 id="mapa"><span>Mapa budov</span></h1>
<p>
Pro tvou lepší orientaci jsme graficky zpracovali mapu budov zapojených do programu přípravného týdne Naskoč na FI. Tyto budovy a přednáškové místnosti v nich budeš často navštěvovat i nadále během semestru. Pro lepší plánování v ní najdeš i odhadovaný čas cesty, ať už pěsky, nebo brněnskou MHD. Během svého týdne Naskoč na FI tak použíj tuto mapu proto, aby ses neztratil.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoč na FI mapa.png" alt="Map of buildings" class="map-image">
</div>

<h1 id="harmonogram"><span>Harmonogram</span></h1>

<p>
Zatímco na tomto webu můžeš najít obrázkovou podobu celého harmonogramu, existuje také <a href='https://fadmin.fi.muni.cz/files/fi-graphics/naskoc-na-fi-2026-program.pdf'>interaktivní PDF verze na webu fakulty</a>. Kliknutím na časový slot se dostaneš přímo na zapisování daného workshopu v ISu – toto zapisování seminárních skupin běží od 2. 9. 17:00. Kliknutím na místnost workshopu se ti otevře detail místnosti s mapou v ISu.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoc program 1.png" alt="Schedule part 1" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 2.png" alt="Schedule part 2" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 3.png" alt="Schedule part 3" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 4.png" alt="Schedule part 4" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 5.png" alt="Schedule part 5" class="schedule-image">
</div>

<h1 id="faq"><span>FAQ</span></h1>

<p>
S nástupem na vysokou školu se pojí spousta otázek. Výjimkou není ani přípravný týden Naskoč na FI pro studenty 1. ročníku. Abychom ušetřili hledání a poskytli všechny důležité odpovědi na jednom místě, dali jsme dohromady následující přehled nejčastějších otázek a odpovědí (FAQ):
</p>

<p><b>
Q: Jde někde i v ISu vidět přehled všech workshopů Naskoč na FI?
</b></p>
<p>
A: Ano, IS umí vypsat rozvrh uživatelem vybraných předmětů. Stačí v aplikaci Rozvrh hodin přejít na Další rozvrhy → Rozvrh předmětů fakulty a vyhledat kódy předmětů – ty pro přípravný týden začínají slovem Naskoc.
</p>

<hr>

<p><b>
Q: V 1. týdnu je víckrát přednáška předmětů IB015 a PB151, mám jít na oba časové sloty?
</b></p>
<p>
A: Od vyučujících těchto předmětů máme potvrzené, že v obou případech se bude v obou časových slotech probírat to stejné – stačí tedy jít jen na jednu přednášku v každém předmětu. Organizační pokyny budou přednášející nejen těchto předmětů do začátku semestru (14. 9.) ještě posílat.
</p>

<hr>

<p><b>
Q: Které prvácké přednášky se během 1. týdne semestru konají?
</b></p>
<p>
A: Jmenovitě jde o přenášky předmětů s kódy IB000/IB000ext, IB111, IB015, IB113, PB150/PB151, PB168, PA052 a BSSb1203. V našem harmonogramu  jsou vyznačeny žlutou barvou a je u nich vždy napsané, kterých studijních programů se týkají.
</p>

<hr>

<p><b>
Q: To budu muset celý semestr každý pátek vstávat na přednášku IB000 / IB000ext na osmou?
</b></p>
<p>
A: Ne, přednáška Matematických základů informatiky se koná v pátek brzo ráno jen v 1. týdnu semestru, ve zbytku semestru bude běžně probíhat ve středu v podvečer. Na pátek se tu přesunula, aby ti nic nebránilo ve středu přijít na  Semester Opening Party v Klubu Fléda.
</p>

<hr>

<p><b>
Q: Které semináře se během 1. týdne semestru konají?
</b></p>
<p>
A: Krom seminářů odpovídajících workshopům Naskoč na FI se konají pouze semináře předmětů IB113, C2110 a C7019. Žádné jiné semináře předmětů, které patří do doporučeného průchodu pro 1. semestr všech bakalářských studijních programů na FI, se nekonají. Takové semináře budou začínat až od 2. týdne semestru. Mimo to si ale samozřejmě můžeš zapisovat předměty z vyšších ročníků, volitelné předměty či předměty z jiných fakult, které v 1. týdnu normálně běží, protože je nedokážeme ovlivnit.
</p>

<hr>

<p><b>
Q: Do jaké místnosti mám jít na workshop Naskoc07 Teambuilding, když má v rozvrhu v ISu víc místností?
</b></p>
<p>
A: Vstupním bodem pro tyto Teambuilding workshopy bude fakultní knihovna (místnost A105), která je společná pro všechny seminární skupiny tohoto workshopu. Pravděpodobně se během workshopu rozdělíte na menší skupinky a rozprostřete se do všech zarezervovaných místností.
</p>

<hr>

<p><b>
Q: Co mám dělat, když je plná seminární skupina workshopu, na kterou chci jít?
</b></p>
<p>
A: Nejprve se zkus podívat, jestli není volná nějaká jiná, která by ti také seděla do rozvrhu. Pokud ne, přijít na tvou vysněnou skupinu ti asi nezabráníme, ale počítej s tím, že počet míst na sezení je omezený a přednost mají řádně zapsaní studující. V místnostech se ale v krajních případech dá sedět i na zemi, na schodech, na parapetu či stát opřený o stěnu či ve dveřích. V případě aktivněji pojatých workshopů (<a href='https://is.muni.cz/predmet/fi/podzim2026/Naskoc07'>Naskoc07</a>, <a href='https://is.muni.cz/predmet/fi/podzim2026/Naskoc11'>Naskoc11</a>) na tebe nicméně nemusí zbýt místo v plánovaných aktivitách.
</p>

<hr>
 
<p><b>
Q: Co mám dělat, když mi v ISu nejde zapsat nějaký Naskoc předmět jako takový?
</b></p>
<p>
A: Pokud jsi měl odložený zápis do studia nebo sis předmět omylem sám zrušil, obrať se prosím na <a href='mailto:studijni@fi.muni.cz'>studijni@fi.muni.cz</a> s prosbou, aby ti ho znovu zapsali.
</p>

<hr>

<p>
Pokud v souvislosti s přípravným týdnem ještě narazíme na další dotazy, tuto aktualitu průběžně doplníme, aby tu vždy byly aktuální informace. Neboj se nás případně také s konkrétním dotazem kontaktovat na email <a href='mailto:propagace@fi.muni.cz'>propagace@fi.muni.cz</a>.
</p>
</div>
</article>
