@import "src/app/styles/vars";

:host {
  padding: $ksi-padding-small $ksi-padding-small;
  background: $ksi-navbar-bg;
  color: $ksi-navbar-fg;
  font-size: 0.75rem;

  @media print {
    display: none;
  }

  .footer-text {
    * > {
      display: inline-block;
      margin-right: $ksi-margin-small;
    }
  }

  .version {
    cursor: pointer;
  }
}
